#verticle-margin{
    border-left: 6px solid green;
  height: 70px;
}
h1{
    font-weight: bold 900;
    font-family: sans-serif;
}
.heading-color{
    color: blueviolet;
}
.anchor-style{
    text-decoration: none;
    padding: 15px 30px;
  border-radius: 5%;
 background: linear-gradient(rgba(213, 235, 118, 0.7), 
 rgba(117, 115, 4, 0.7)
);
}
section{
    display: flex;
}
p{
    padding-left: 10px;
}
body{
    padding: 20px;
}
.half{
    width: 50%;
}
.half img{
    width: 100%;
}