#verticle-margin{
    border-left: 6px solid green;
  height: 120px;
  margin-bottom: 10px;
}
h1{
    font-weight: strong 900;
    font-family: sans-serif;
    font-size: 35px;
}
.heading-color{
    color: rgb(124, 107, 7);
}
.anchor-style{
    text-decoration: none;
    padding: 15px 30px;
  border-radius: 5%;
 background: linear-gradient(rgba(213, 235, 118, 0.7), 
 rgba(117, 115, 4, 0.7)
);
}
.executable-part{
    display: flex;
    margin-bottom: 150px;
    margin-right: 10px;
}
p{
    padding-left: 10px;
    font-size: 20px;
}
body{
    padding: 20px;
}
.half{
    width: 50%;
}
.half img{
    width: 90%;
}

.align-heading{
    text-align: center;
}
.flex{
    width: 100%;
    display: flex;
}
.icon{
    height: 100px;
    width: 100px;
}
#block-one{
    background-color: lavender;
    border-radius: 5%;
    padding: 20px 20px;
    margin: 10px;
}
#block-two{
    background-color: cornsilk;
    border-radius: 5%;
    padding: 20px 20px;
    margin: 10px;
}
#block-three{
    background-color: darkgray;
    border-radius: 5%;
    padding: 20px 20px;
    margin: 10px;
}
.boxes{
    margin-bottom: 150px;
}
.ending{
    background-color: rgb(180, 180, 38);
    text-align: center;
    padding: 0;
    margin: 0;
}
#foot{
    font-family: fantasy;
}
.color{
    color: white;
}